apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring
  namespace: argo
spec:
  project: default
  source:
    repoURL: https://github.com/robertb724/homelab-argo
    targetRevision: main
    path: apps/monitoring
    helm:
      chart: kube-prometheus-stack
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 56.8.0
      valueFiles:
        - prometheus.values.yaml
        - grafana.values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      selfHeal: false
      prune: false
