apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: cloudflare-api-key
  namespace: external-dns
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: gcp-secret-store
    kind: ClusterSecretStore
  target:
    name: cloudflare-api-key
    creationPolicy: Owner
  data:
    - secretKey: apiKey
      remoteRef:
        key: cloudflare-api-key
        version: latest
