apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: discord-webhook-url
  namespace: external-dns
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: gcp-secret-store
    kind: ClusterSecretStore
  target:
    name: discord-webhook-url
    creationPolicy: Owner
  data:
    - secretKey: url
      remoteRef:
        key: discord-webhook-url
        version: latest
