ingress:
  enabled: true
  className: "nginx"
  labels: {}
  annotations:
    cert-manager.io/cluster-issuer: "cloudflare-letsencrypt-prod"
  hosts:
    - host: home.robertbatson.com
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls:
   - secretName: home-assistant-tls
     hosts:
       - home.robertbatson.com

configuration:
  # Enable or disable the configuration setup for Home Assistant
  enabled: true
  trusted_proxies:
    - 10.0.0.0/8
    - 192.168.0.0/16

persistence:
  enabled: true

hostNetwork: true
