apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argo
  annotations:
    argocd.argoproj.io/sync-wave: "5"
spec:
  project: default
  sources:
  - repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: 1.7.2
    helm:
      valueFiles:
      - $values/infra/longhorn/values.yaml
  - repoURL: https://github.com/robertb724/homelab-argo
    targetRevision: main
    ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    automated:
      selfHeal: false
      prune: false
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
  - group: apiextensions.k8s.io
    kind: CustomResourceDefinition
    name: "*.longhorn.io"
    jsonPointers:
    - /spec/preserveUnknownFields
