apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argo
spec:
  project: default
  source:
    repoURL: https://github.com/robertb724/homelab-argo
    targetRevision: main
    path: apps/longhorn
    helm:
      chart: longhorn
      repoURL: https://charts.longhorn.io
      targetRevision: 1.7.2
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    automated:
      selfHeal: false
      prune: false
