apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx
  namespace: argo
spec:
  project: default
  source:
    repoURL: https://github.com/robertb724/homelab-argo
    targetRevision: main
    path: apps/nginx
    helm:
      chart: ingress-nginx
      repoURL: https://kubernetes.github.io/ingress-nginx
      targetRevision: 4.9.1
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress
  syncPolicy:
    automated:
      selfHeal: false
      prune: false
